---
const { headline, firstLink, secondLink, firstText, secondText } = Astro.props;
---

<div>
  <h3>{headline}</h3>
  <a href={firstLink}>{firstText}</a>
  <a href={secondLink}>{secondText}</a>
</div>
